*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    background-color: #808080;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    border: 2px solid #000;
}
.heading{
    margin-left: 20px;
    padding-top: 10px;
    font-family: 'Times New Roman', Times, serif;
    color: #fff;
}
.list{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    align-items: center;
    position: absolute;
    right: 0;
}
.list button{
    margin-left: 10px;
    margin-top: 5px;
}
.page{
    text-decoration: none;
    color: #fff;
}